* {
    box-sizing: border-box;
}

body {
    padding: 10px 0;
}

.mb20 {
    margin-bottom: 20px;
}

.p20 {
    padding: 20px;

    @media (max-width: 450px) {
        padding: 10px;
    }
}

.p10 {
    padding: 10px;
}


