@import '../variables.scss';

.btn {
    padding: 10px;
    border: 3px solid $btn-border-color;
    background-color: transparent;
    font-size: $font-size;
    width: 100%;
    max-width: 250px;
    cursor: pointer;

    &:hover {
        box-shadow: 5px 2px 4px grey;
    }
}
