.course {
  list-style: none;
  display: flex;
  border:3px solid green;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 5px 2px 4px grey;
  }

  &__title {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__about {
    padding: 20px;
    width:70%;
  }

  &__descr {
    text-align: justify;
  }

  &__specs {
    padding: 20px;
    width: 30%;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      margin-bottom: 15px;
    }

    span {
      font-weight: 700;
    }
  }

  &__authors {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__btns {
    // text-align: center;
    display: flex;
    column-gap: 5px;
    justify-content: center;
  }

  .admin-btns {
    display: flex;
    column-gap: 5px;
    
    .btn {
      width: 40px;
      background-position: center;
      background-repeat: no-repeat;

      &-change {
        background-image: url('../../../../resources/CourseCard/pencil.png') ;
        background-size: contain;
      }
  
      &-delete {
        background-image: url('../../../../resources/CourseCard/trash.png');
        background-size: cover;
      }
    }
  }
}

@media (max-width: 950px) {
  .course {
    flex-wrap:wrap;

    &__about {
      flex-basis: 100%;
      padding:5px;
    }

    &__specs {
      flex-basis: 100%;
      padding:5px;
    }
  }
}
